<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AeroSphere</title>
    <link rel="shortcut icon" href="/assets/logo.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <script src="/index.js"></script>
</head>
<body>
    <div class="container">
        <header>
            <div class="logo">
                <div class="logo-circle"></div>
                <span class="logo-text">AeroSphere</span>
            </div>
            <form action="/search" method="post">
                <div class="search-bar">
                    <input type="text" placeholder="Enter the city">
                </div>
            </form>
        </header>
        
        <main class="content">
            <div id="box1">
                <% if(location) { %>
                <div class="weather-card">
                    <div>
                        <div class="location">📍 <%= location %></div>
                        <div class="temperature">27°</div>
                        <div class="condition">Fog</div>
                    </div>
                </div>
                <% } %>
                <div class="air-quality-card">
                    <p>Air Quality Index</p>
                    <div class="air-quality-content">
                        <div class="air-quality-index">104</div>
                        <div class="air-quality-description">
                            <p>Moderate</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu pharetra leo. Nunc tincidunt dui ante id luctus.</p>
                        </div>
                    </div>
                </div>    
            </div>
            <div id="box2">
                <div class="forecast-grid">
                    <div class="forecast-item"></div>
                    <div class="forecast-item"></div>
                    <div class="forecast-item"></div>
                    <div class="forecast-item"></div>
                    <div class="forecast-item"></div>
                    <div class="forecast-item"></div>
                </div>
            </div>
        </main>
    </div>
        <footer>
            © AeroSphere, 2024
        </footer> 

</body>
</html>