<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>findweather</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/styles/style.css" >
    <script src="/index.js"></script>
</head>
<body>
    <!--Header-->
    <header>
        <h1>findweather</h1>
        <form action="/search" method="post">
            <div class="searchbar">
                <input type="text" id="search-bar" placeholder="Enter a city" name="location">
                <button type="submit">Search</button>
            </div>
        </form>
        
        
    </header>
    <main>
        <div id="weather-info">
            <h2 id="location"><%= content %></h2>
            <p id="temperature"> <%= temp %>&deg;C</p>
            <p id="description"></p>
        </div>
    </main>
</body>
</html>
